
<table class="table table-striped table-primary" style="width:100%;background-color:powderblue;">
    <style> 
      table, th, td { 
          border: 1px solid black; 
      } 
  </style> 
  
   <center>   <h1>Available Rooms</h1></center> 

   <thead>
        <tr>
          <!-- <th><h2>sem</h2></th><th></th>
          <th><h2>year</h2></th><th></th>
          <th><h2>section</h2></th><th></th> -->
          <th  style="background-color:yellow;"><h2>ROOM NO</h2></th><th></th>
          <th  style="background-color:yellow;"><h2>Projector</h2></th><th></th>
          <th  style="background-color:yellow;"><h2>AC</h2></th><th></th>
          <th  style="background-color:yellow;"><h2>SOCKET TABLES</h2></th><th></th>
          <th  style="background-color:yellow;"><h2>SOUND BOX</h2></th><th></th>
          <th  style="background-color:yellow;"><h2>MARKER BOARD</h2></th><th></th>
          <th  style="background-color:yellow;"><h2>MIC</h2></th><th></th>
         
   
         
        </tr>
      </thead>
  
  
      <tbody>
  
        <%if (records.length >0){ %>
        <% records.forEach(function(row){ %>
    
      <br/>
      <br/>
       <tr><center>
          <!-- <td><center><%= row.sem %></center></td><th></th>
          <td><center><%= row.year %></center></td><th></th>
          <td><center><%= row.section %></center></td><th></th> -->
         
          <td><center><%= row.roomno %></center></td><th></th>
          <td><center><%= row.projector %></center></td><th></th>
          <td><center><%= row.ac %></center></td><th></th>
          <td><center><%= row.skt %></center></td><th></th>
          <td><center><%= row.sb %></center></td><th></th>
          <td><center><%= row.mb %></center></td><th></th>
          <td><center><%= row.mic %></center></td><th></th>
        

              
              
     <tr></tr>
        </center>
        </tr>
      
        <% })}else{ %>
          <tr>
              <td colspan="10">No Record Found</td>
              
            </tr>
          <% } %>
      
      </tbody>
    </table>
   